aside{
    width: 100%;
    clear: both;
}
aside h1{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    background-color: #d35400;
}
aside form{
    width: 500px;
    margin: 50px auto;
}
aside form input[type="text"],aside form input[type="password"]{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
aside form input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #d35400;
    color: #fafafa;
    margin-top: 10px;
    transition: all 0.7s;
    border: none;
}
aside form input[type="submit"]:hover{
    border-radius: 30px;
    transition: all 0.7s;
    cursor: pointer;
}
aside form textarea{
    width: 100%;
    min-height: 150px;
    margin-top: 10px;
    resize: vertical;
    text-align: center;
}