.slider{
    width: 100%;
    height: 500px;
    
}

  .slider__item{
      width: 60%;
      height: 500px;
      margin: 0 auto;
      display: block;
      background-image: url("https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      -moz-animation-name: animacion1;
    -moz-animation-duration: 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-name: animacion1;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -o-animation-name: animacion1;
    -o-animation-duration: 7s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
  }
  @-moz-keyframes animacion1 {
    from {
      left:30px;
      background-color:#ddd;
    }
    to {
      left:300px; 
      background-color:#ff0;
    }
  }
  
  @-webkit-keyframes animacion1 {
   0% {
      background-image: url("https://images.pexels.com/photos/1708936/pexels-photo-1708936.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    25%{
        background-image: url("https://images.pexels.com/photos/3321793/pexels-photo-3321793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
   
  }
  
  @-o-keyframes animacion1 {
    from {
      left:30px;
      background-color:#ddd;
    }
    to {
      left:300px; 
      background-color:#ff0;
    }
  }
  